*{
    margin : 0;
    padding: 0;
    
}
body{
    background-color:#004643;
}
.container{
 
    width: 350px;
    margin: 0 auto;
    padding: 50px;
}
h1{
    color: #ffc300;
    text-align: center;
    font-size: 36px;
    padding-bottom: 20px;
}
.game{
    height: 350px ;
    width: 350px;
    background-color: #c44900;
}
.box{
    padding-left:5px ;
    padding-top: 12px;
    display: flex;
     
}
.boox{
 width: 100px;
 height: 100px;
 background-color:#faf4d3 ;
  margin-left: 10px;
  box-shadow: 0 0 1rem rgba(0,0,0,0.8);
  border: none;
  border-radius: 20px;
  font-size: 65px;
  text-align: center;
  color:#5A0001;
}
#resetBtn{
    margin-top: 20px;
 width: 150px;
 height: 40px;
 background: black;
color: white;
font-size: 20px;
margin-left: 103px;
  border-radius: 20px;
}
.Winner{
    font-size: 40px;
      color: #ffc300;
    font-weight: 800;
    padding-bottom: 50px;
    text-align: center;
    
    
}
#newGame{
    margin-top: 50px;
 width: 150px;
 height: 40px;
 background: black;
color: white;
font-size: 20px;
margin-left: 103px;
  border-radius: 20px;

}
.msgHide{
    display: none;
}
.msgShow{
    display: block;
}
.Msg{
    margin-bottom: 100px;
    margin-top: 200px;
}
